<h1>Edit this portfolio</h1>

<%= render 'form', portfolio: @portfolio %>

<%= link_to 'View this portfolio', portfolio_path(@portfolio) %>

<%= link_to 'Back to portfolios list', portfolios_path %>

