<h1>Here is the home page</h1>
<p>This is the favorite place to explore your app</p>


<div>
    <%= link_to "Blogs list", blogs_path %>
    <%= link_to "New blog", new_blog_path %>

</div>


<div>
    <%= link_to "Portfolios list", portfolios_path %>
    <%= link_to "New portfolio", new_portfolio_path %>

</div>

